/.claude
/batch_run.py
/catalog_gaia_DracoI.ecsv
/catalog_gaia_EDFN(North).ecsv
/catalog_gaia_EuclidSelf-cal.ecsv
/catalog_gaia_EuclidSelfCal.ecsv
/catalog_gaia_Kepler_CalWG.ecsv
/catalog_gaia_Keplerfield.ecsv
/catalog_gaia_LMC.ecsv
/catalog_gaia_NGC362.ecsv
/catalog_gaia_NGC6811.ecsv
/catalog_gaia_NGC6819.ecsv
/catalog_gaia_RA290.7000Dec+44.5000.ecsv
/field_summary_DracoI_F106.png
/field_summary_EDFN(North)_F106.png
/field_summary_EuclidSelf-cal_F106.png
/field_summary_EuclidSelfCal_F106.png
/field_summary_Kepler_CalWG_F106.png
/field_summary_Keplerfield_F106.png
/field_summary_LMC_F106.png
/field_summary_NGC362_F106.png
/field_summary_NGC6811_F106.png
/field_summary_RA290.7000Dec+44.5000_F106.png
/mag_histogram_NGC6811.png
/mag_histogram_NGC6819.png
/nn_sep_histogram_NGC6811.png
/nn_sep_histogram_NGC6819.png
/notebook_data_dependencies.py
/recompute_density.py
/requirements.txt
/romanisim_example.ipynb
/simulate_ngc6819.py
/wfi_mosaic_NGC6811_F106.png
/wfi_mosaic_NGC6819_F106.png